<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  인천 cctv 구현 페이지<br>
  <iframe name=targetURL class="iframe-preview center" width="50%" height="500" style="border:none;" src="/data/incheoncctvdb">
  </iframe>
  <!-- ifame 태그에서, src(경로) 지정해줄 때, 완벽한 경로 /data/incheoncctv.html로 지정하면 get으로 처리받을 수 없다 -->
</body>
</html>
